* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
    -webkit-scrollbar { 
        display: none; 
    };
}

html, body {
    margin: 0;
    padding: 0;
}

body{
    background-color: ivory;
    
}

#top {
    margin: 0 auto;
    max-width: 560px;
    padding-top: 20px;
}
.titleLabel {
    line-height: 90%;
    font-size: 100px;
    font-family: sans-serif;
    font-kerning: normal;
    font-weight: 100px;
    color: #1D3B54;
}
#line {
    background-color: #1D3B54;
    height: 2px;
}

#articleContainerOuter {
    position: relative;
    
    margin: 5px auto;
    
    height: 500px;
    border-radius: 4px;
    overflow-y: hidden;
    overflow-x: hidden;
}

#articleContainerInner{
    width: 5009px;
}

#middle{
    overflow-x: scroll;
    -webkit-scrollbar { 
        display: none; 
    }
}

#articleContainerOuter {
    max-width: 570px;
}



.Article{
    display: inline-block;
    height: 500px;
    width: 570px;
    max-width: 570px;
    overflow-x: hidden;
    overflow-y: scroll;
        
    padding-top: 20px;


    background-color: skyblue;
    
    z-index: 0;
}

.ArticleInner{
    position: relative;
    background-color: whitesmoke;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 50px;
    padding-bottom: 100px;
    min-height: 500px;
    width: 70%;
    margin: 0 auto;
    
    font-family: sans-serif;
    font-size: 23px;
    word-wrap:break-word;
    
    box-shadow: 0px 0px 1px black;
    z-index: 5;
}

#bodyRibbonA{   
    position: relative;
    background-color: darkred;
    height: 3px;
    max-width: 570;
    
    z-index: -1;
    bottom: 65px;
}

.articleRibbonA{
    position: relative;
    background-color: darkred;
    height: 3px;
    bottom: 54.6px;
    
    z-index: 1;
}

.articleInnerRibbonA{
    position: relative;
    bottom: 53px;
    height: 3px;
    width: 70.3%;
    margin: 0 auto;
    background-color: darkred;
    z-index: 6;
}

.shadow {
    pointer-events: none;
    position: absolute;
    z-index: 1000;
    left:0px;
    top:0px;
    right: 0px;
    bottom: 0px;
    box-shadow: inset 0px 2px 6px 0px rgba(3,4,0,1);
}

